body{
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(193, 193, 193);
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.title span{
    font-size: 60px;
    font-family: sans-serif;

}
.main{
    display: flex;
    justify-self: center;
    align-items: center;
}
.main-container,
.center-container{
    display: flex;
    align-items: space-evenly;
    justify-content: space-evenly;
    
}
#etch-container{
    width: 70vw;
    max-width: 9in;
    height: 70vh;
    max-height: 9in;
    display: flex;
    flex: 1;
    background-color: white;
    border: .1cm solid black;
    flex-direction: column;
}
#etch-container div{
    display: flex;
    flex:1;
}
.grid-item {
    cursor: pointer;
    border: .01px solid black;
}
.grid-item :hover{
    background-color: black;
}

.button-holder{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    height: 3.5in;
    justify-content:space-between;
}
.clear{
    background-color: white;
}
.button-holder button,
.selected {
    display: flex;
    flex: 1;
    margin: 10px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 25px;
    width: 100%;
    max-width: 2in;
    font-size: 20px;
    border: 2.5px solid rgb(0, 0, 0);
    margin-left:5px;
    background-color: white;
}
.slider-holder,
.slider-holder input{
    border-radius: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-family: sans-serif;
}
@media (max-width: 767px){
    .center-container{
        flex-direction: column-reverse;
        margin: 10px;
        align-items: center;
    }
    body{
        margin-top: .5in;
    }
    #etch-container{
        min-width:2.5in;
        min-height:2.5in;
        max-height: 3in;
        flex: 1;
    }
    .title span{
        font-size: 30px;
        font-weight: bold;
       
    }
}

